################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
/.vs

/BenchmarkDotNet.Artifacts
/LiteOrm/nuget.config
/LiteOrm.Benchmark/BenchmarkDotNet.Artifacts
/.trae/documents
/count_code.ps1
/LiteOrm.Demo/demo.db
/docs/series
